@model IEnumerable<Project38CVsite.Models.UserProject>

@using Project38CVsite.Models
@{
    ViewBag.Title = "About";
}

<h2>Participants</h2>

<ul>
    @foreach (UserProject e in @Model)
     {
        <li>
            @Html.ActionLink
        </li>           
     }
</ul>