@model IEnumerable<Project38CVsite.Models.UserProject>

@using Project38CVsite.Models
@{
    ViewBag.Title = "About";
}

<h2>Participants</h2>

<ul>
    @foreach (UserProject par in @Model)
     {
        <li>
            @Html.ActionLink(@par.ApplicationUser.FirstName + @par.ApplicationUser.LastName, "Detals", "")
            <p>@par.ApplicationUser.FirstName</p>
        </li>           
     }
</ul>