@model Project38CVsite.Models.ApplicationUser
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="row">
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>Content</th>
            </tr>
        </thead>
        <tbody id="tblMessageBody"></tbody>
    </table>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/ScriptsForFunctions/Message.js"></script>