@model IEnumerable<Project38CVsite.Models.ApplicationUser>

<table class="table">
    <tr>
        <th>
            <h1>Working on</h1>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @foreach (var work in item.WorkOn)
                {
                    <ol>Working on: @work.Title</ol>
                    <ol>Description: @work.Description</ol>

                }
<td>
        </tr>
    }

</table>
